node_modules

/build
/public/build
.env*

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

!.env.example
!.env.vault
/test-results/
/playwright-report/
/playwright/.cache/
/public/entry.worker.js
/public/worker.js
/.cache
.sentryclirc
.cache_ggshield

docker-compose.yml
.flaskenv*
!.env.project
dist/
/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.dev.vars
