node_modules

/build
/public/build
.env*

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
!.env.example
!.env.vault
/test-results/
/playwright-report/
/playwright/.cache/
/public/entry.worker.js
/.cache
app/styles/tailwind.css