@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  font-stretch: 25% 151%;
  src: url("public/fonts/mona-sans/Mona-Sans.woff2") format("woff2");
}

@font-face {
  font-family: "Mona Sans Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 79.79%;
  descent-override: 16.66%;
  line-gap-override: 0%;
  size-adjust: 100.26%;
}

/* html {
  font-family: "Mona Sans", "Mona Sans Fallback";
} */

html,
body {
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background: #18181b;
}

::-webkit-scrollbar-thumb:hover {
  background: #18181b;
}

div div.aa-Autocomplete {
  color: inherit;
}

.aa-Autocomplete form.aa-Form {
  background-color: unset;
  border: unset;
}

input.aa-Input {
  @apply text-gray-400 !important;
  color: unset;
  border-color: inherit;
}

button.aa-DetachedSearchButton {
  background-color: unset;
}

div.aa-DetachedContainer {
  background: unset;
  background-color: #27272a;
}

button.aa-DetachedCancelButton {
  @apply text-gray-400 !important;
}

form.aa-Form {
  background-color: unset;
}
